node_modules
.pnpm-store
dist
.next
.env
.env.local
.env.*
!.env.example
!deploy/.env.prod.example
apps/api/.env
apps/web/.env.local
deploy/.env.prod
deploy/.env.prod.local
*.log
.DS_Store
coverage
.turbo
apps/api/prisma/seed.d.ts
apps/api/prisma/seed.js
apps/api/prisma/seed.js.map
